img{
    height: 200px;
    width: auto;
}

.achievement{
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
}

.achievement-top{
    display: flex;
    justify-content: space-around;
}

.achievement-text{

}