.achievement{
    background-color: #5C6B73;
    width: 45%;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid #9db4c0;
    border-radius: 20px;
    box-shadow: 0 0 40px #5C6B73;
}

.achievement-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.achievement-text{
    width: 50%
}

.achievement-icon{
    margin: auto
}

h1{
    font-family: "Audiowide";
    font-size: 24px;
}

h2{
    font-family: "Roboto-Bold";
    font-size: 20px;
}
h3{
    font-family: "Roboto-Bold";
    font-size: 18px;
}
h4{
    font-family: "Roboto-Bold";
    font-size: 14px;

}
img{
    height: 150px;
    width: auto;
}