.footer{
    height: 100px;
}
.achievement-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.section-title{
    font-size: 52px;
}

@media only screen and (max-width: 812px){
    .section-title{
        font-size: 32px;
    }
    .achievement-section{
        flex-direction: column;
    }
}