hr{
  margin: 40px 40px;
}
input[type=text] {
  width: 50%;
  text-align: center;
  font-family: 'Roboto-Bold';
  font-size: 48px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.explanation{
  width: 75%;
  margin: auto;
}


@media only screen and (max-width: 812px){
  input[type=text] {
    font-size: 18px;
  }
  .explanation{
    width: 85%;
  }
}